@import url('https://fonts.googleapis.com/css?family=Arvo');

$font-stack: 'Arvo', serif; 
$header-font-color: white; 
$header-components-space: 20px 0 20px 20px;

* {
    margin: 0 0 0 0;
    font-family: $font-stack;
}

#header {
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin: $header-components-space;
        color: $header-font-color;
        font-size: 40px;
    }

    #nav {
        align-self: flex-end;
        margin: 0 0 42px 20px;
        width: 40%;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            text-align: center;
            color: $header-font-color;
            width: 100%;
        }

        a:hover {
            border-bottom: 1px solid orange;
        }

    }

}

#indexMain {
    .welcome {
        position: relative;

        img{
            width: 100%;
        }

        div {
            display: block;
            position: absolute;
            width: 50%;
            height: 70%;
            top: 10%;
            right: 50px;
            background-color: #fff;
            opacity: 0.8;
            padding-left: 20px;
        }

        h1 {
            margin-top: 15px;
            text-align: center;
        }

        ul {
            margin-top: 100px;
            font-size: 30px;
        }

        ul li a {
            text-decoration: none;
            color: #000;
        }

        ul li a:hover {
            border-bottom: 1px solid #000;
        }

        div:hover {
            width: 52%;
            height: 72%;
            top: 8%;
            right: 30px;
            opacity: 1;
        }

    }
}

#projectsMain {
    background-color: #66c2ff;
    height: 1000px;

    #h1 {
        font-weight: 350px;
        font-size: 50px;
        text-align: center;
        color: black;
        padding: 15% 0 30px 0;
    }

    .col {
        background-color: #fff;
        margin: 0 10px 10px 0;
    }

    .col a {
        text-decoration: none;
        color: #000;
        font-size: 50px;
    }

    .col a:hover {
        border-bottom: 1px solid #ff6600;
    }

}

#aboutmeMain {
    height: 1000px;
    background-color: #ff3333;
    padding: 200px 0 0 100px;

    .container {
        height: 70%;
        width: 93%;
        background-color: #fff;

        p {
            padding: 50px 0 0 30px;
            font-size: 30px;
        }

        ol {
            margin: 20px 0 0 15px;
            font-size: 30px;

            li {
                margin: 0 0 30px 0;
            }

        }

    }

}

#footer {
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;

    img {
        width: 20px;
        height: 20px;
        opacity: 0.5;
        margin-left: 13px;
    }

    .mail { 
        margin-top: 10px;
        color: $header-font-color;
        opacity: 0.8;
    }

}
